<h1>User Profile</h1>

<section id="user-info">
  <% if current_user.address.nil? %>
    <%= button_to "Complete your profile", new_user_path, method: :get %>
  <% else %>
      <h3 class="user-name">Welcome back, <%= current_user.first_name %>!</h3>
      <br>
      <h5>Profile Info:</h5>
      <h6 class="user-address"><%= current_user.address %></h6>
      <h6 class="user-state-zip"><%= current_user.city %>, <%= current_user.state %> <%= current_user.zip %></h6>
      <h6 class="user-phone"><%= current_user.phone %> </h6>
      <h6 class="user-email"><%= current_user.email %> </h6>

      <br>
      <br>
      <h3><%= button_to "Volunteer to Host an Event" %></h3>
      <br>
      <br>
      <h3><%= button_to "Create an Event"%></h3>
  <% end %>
</section>
<br>
<section>
  <%= link_to "Events in Your Neighborhood", events_path %>
</section>
