<div class='rsvp'>
  <%= form_tag event_event_attendees_path(@event), method: :post do %>
    <%= select_tag :rsvp, options_for_select(EventAttendee.rsvps) %>
    <%= label_tag :number_of_guests %>
    <%= number_field_tag :number_of_guests %>
    <%= submit_tag "RSVP" %>
  <% end %>
</div>
