<h1><%= @event.title %></h1>

<section>
  <div>
    <p>Date: <%= @event.date %></p>
    <p>Time: <%= @event.time %></p>
    <p>Address: <%= @event.address %></p>
    <p>Type: <%= @event.event_type %></p>
    <p>Bring Food? <%= @event.food %></p>
    <p>Bring Booze? <%= @event.booze %></p>
    <p>Special restrictions: <%= @event.restrictions %></p>
  </div>

  <div class='rsvp_list'>
  <p>Who's RSVP'd:</p>
    <% @event_attendees.each do |event_attendee| %>
      <p> <%= event_attendee.name %> Reply: <%= event_attendee.rsvp %> Number of guests: <%= event_attendee.number_of_guests %></p>
    <% end %>
  </div>

  <div class='rsvp'>
  <% if current_user.id != @event.user_id %>
    <% if @event_attendees.includes?(current_user.id) %>
      <%= render partial: "rsvp", locals: { path: event_event_attendee_path(@event.id, event_attendee.id), method: :patch, button_text: "Edit RSVP"} %>
    <% else %>
      <%= render partial: "rsvp", locals: { path: event_event_attendees_path(@event.id), method: :post, button_text: "RSVP"} %>
    <% end %>
  <% end %>
</div>

  <iframe class='location_map'
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src= "https://www.google.com/maps/embed/v1/place?key=<%= facade.key_location %>" allowfullscreen>
  </iframe>

</section>
