<h1><%= @event.title %></h1>

<section>
  <div>
    <p>Date: <%= @event.date %></p>
    <p>Time: <%= @event.time %></p>
    <p>Address: <%= @event.address %></p>
    <p>Type: <%= @event.event_type %></p>
    <p>Bring Food? <%= @event.food %></p>
    <p>Bring Booze? <%= @event.booze %></p>
    <p>Special restrictions: <%= @event.restrictions %></p>
  </div>
  <div>
    <p><%= button_to "RSVP" %></p>
  </div>

  <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src= facade.location_map allowfullscreen>
  </iframe>

</section>
