<h1><%= @event.title %></h1>

<section>
  <div>
    <p><%= @event.date %></p>
    <p><%= @event.time %></p>
    <p><%= @event.address %></p>
    <p><%= @event.event_type %></p>
    <p><%= @event.food %></p>
    <p><%= @event.booze %></p>
    <p><%= @event.restrictions %></p>
  </div>
</section>
