<h1><%= @event.title %></h1>

<section>
  <div>
    <p>Date: <%= @event.date %></p>
    <p>Time: <%= @event.time %></p>
    <p>Address: <%= @event.address %></p>
    <p>Type: <%= @event.event_type %></p>
    <p>Bring Food? <%= @event.food %></p>
    <p>Bring Booze? <%= @event.booze %></p>
    <p>Special restrictions: <%= @event.restrictions %></p>
  </div>
  <div class='rsvp_list'>
      <% @event_attendees.each do |event_attendee| %>

      <p>Who's RSVP'd: <%= event_attendee.name %> Reply: <%= event_attendee.rsvp %> Number of guests: <%= event_attendee.number_of_guests %></p>
      <% end %>
  </div>
  <div class='rsvp'>
    <% if current_user.id != @event.user_id %>
        <%= form_tag event_event_attendees_path(@event), method: :post do %>
          <%= select_tag :rsvp, options_for_select(EventAttendee.rsvps) %>
          <%= label_tag :number_of_guests %>
          <%= number_field_tag :number_of_guests %>
          <%= submit_tag "RSVP" %>
        <% end %>
    <% end %>
  </div>
  <div>
    <% if current_user.id == @event.user_id %>
      <%= button_to "Edit Event", edit_event_path(@event), method: :get %>
    <% end %>
  </div>

  <iframe class='location_map'
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src= "https://www.google.com/maps/embed/v1/place?key=<%= facade.key_location %>" allowfullscreen>
  </iframe>

</section>
