<h1><%= @event.title %></h1>

<section>
  <div>
    <p>Date: <%= @event.date %></p>
    <p>Time: <%= @event.time %></p>
    <p>Address: <%= @event.address %></p>
    <p>Type: <%= @event.event_type %></p>
    <p>Bring Food? <%= @event.food %></p>
    <p>Bring Booze? <%= @event.booze %></p>
    <p>Special restrictions: <%= @event.restrictions %></p>
  </div>
  <div class='rsvp_list'>
    <% if @event.user_id == current_user.id %>
    <p>Who's RSVP'd:</p>
      <% @event_attendees.each do |event_attendee| %>
        <p> <%= event_attendee.name %> Reply: <%= event_attendee.rsvp %> Number of guests: <%= event_attendee.number_of_guests %></p>
      <% end %>
    <% else %>
      <p>Who's RSVP'd:</p>
      <% @event_attendees.each do |event_attendee| %>
        <% if event_attendee.user_id == current_user.id %>
        <p> <%= event_attendee.name %> Reply: <%= event_attendee.rsvp %> Number of guests: <%= event_attendee.number_of_guests %> <%= render partial: "user_rsvp" %></p>
        <% else %>
          <p> <%= event_attendee.name %> Reply: <%= event_attendee.rsvp %> Number of guests: <%= event_attendee.number_of_guests %></p>
        <% end %>
        <%= render partial: "visitor_rsvp" %>
      <% end %>
    <% end %>
  </div>

  <div>
    <% if current_user.id == @event.user_id %>
      <%= button_to "Edit Event", edit_event_path(@event), method: :get %>
    <% end %>
  </div>

  <iframe class='location_map'
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src= "https://www.google.com/maps/embed/v1/place?key=<%= facade.key_location %>" allowfullscreen>
  </iframe>

</section>
