<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div>

      <h2 class="masthead-subheading mb-0"><%= facade.specific_event.title %></h2>
      <% if current_user.id == facade.specific_event.user_id %>
        <%= button_to "Edit Event", edit_event_path(facade.specific_event), method: :get %>
      <% end %>
    </div><br>

    <% if current_user.id != facade.specific_event.user_id %>
    <div class='rsvp' style= "font-size: 20px;">
      <% if facade.event_attendees == [] %>
        <%= render partial: "rsvp", locals: { path: event_event_attendees_path(facade.specific_event.id), method: :post, button_text: "RSVP"} %>
      <% else %>
        <% facade.event_attendees.each do |event_attendee| %>
          <% if event_attendee.user_id == current_user.id  %>
            <%= render partial: "rsvp", locals: { path: event_event_attendee_path(facade.specific_event.id, event_attendee.id), method: :patch, button_text: "Edit RSVP" } %>
          <% else %>
             <%= render partial: "rsvp", locals: { path: event_event_attendees_path(facade.specific_event.id), method: :post, button_text: "RSVP"} %>
          <% end %>

        <% end %>
      <% end %>
      </div><br>
    <% end %>

    <div class="text-left shadow-lg p-3 mb-5 bg- rounded" >

<div class="container-fluid">
    <div class="row">

      <div class="col-xl ">

      <div class="text-left shadow-lg p-3 mb-5 bg- rounded" >
        <h1> Date: <%= facade.specific_event.date %></h1>
        <h1> Time: <%= facade.specific_event.time %></h1>
        <h1> Address: <%= facade.specific_event.address %></h1>
        <h1> Type: <%= facade.specific_event.event_type %></h1>
        <h1> Bring Food? <%= facade.specific_event.food %></h1>
        <h1> Bring Booze? <%= facade.specific_event.booze %></h1>
        <h1> Special restrictions: <%= facade.specific_event.restrictions %></h1>
      </div>
  </div>

      <div class="col-xl">
        <div class="rounded-circle location_map">
        <iframe class='rounded'
          width="600"
          height="450"
          frameborder="0" style="border:0"
          src= "https://www.google.com/maps/embed/v1/place?key=<%= facade.key_location %>" allowfullscreen>
        </iframe></div>
    </div>

  </div>
  <div class='rsvp_list' style= "font-size: 20px;"><br>
    <h2>Who's RSVP'd:</h2>
    <% facade.event_attendees.each do |event_attendee| %>
      <p><%= event_attendee.name %> Reply: <%= event_attendee.rsvp %> Number of guests: <%= event_attendee.number_of_guests %></p>
    <% end %>
    </div>
  </div><br>
  </div>
</div>









</header>
